@page
@using Tiger_Tix.Web.Views.Shared
@model Tiger_Tix.Web.Views.App.AdministratorView

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<p>Here is where an administrator can edit the database</p>
<div>

</div>
</body>
</html>