@page
@model Tiger_Tix.Web.Views.App.BuyTicket

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>Here is where a user can pay for a ticket</p> 
</div>
</body>
</html>