@page
@model UserViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @using(@Html.BeginForm("CreateAccount", "App", FormMethod.Post)){
        <p>Please enter the following information</p>
        <div class="row">
             <div class="col-sm">
                 <label for="Name" class="form-label">Username</label>
             </div>
             <div class="col-md">
                 @Html.TextBoxFor(m => m.Name, new {@placeholder = "name", @id = "Name", @class="form-control"})
             </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="user" class="form-label">Email</label>
            </div>
            <div class="col-md">
                @Html.TextBoxFor(m => m.Email, new {@placeholder = "name@clemson.edu", @id = "user", @class="form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="pass" class="form-label">Password</label>
            </div>
            <div class="col-md">
                @Html.TextBoxFor(m => m.Passhash, new {@placeholder = "Password", @id="pass", @type="password", @class="form-control"})
            </div>
        </div> <br/>
	<p>What kind of account is it? </p>
	@Html.EnumDropDownListFor(m => m.UserRole) <br/>
        <input type="submit" class="btn btn-primary" value="Create Account"/>
    }
</div>
</body>
</html>
