@page
@model LoginInfoViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @using(@Html.BeginForm("CreateAccount", "App", FormMethod.Post)){
        <p>Here is where a user can create an account</p>
        <div class="row">
            <div class="col-sm">
                <label for="user" class="form-label">Username/Email</label>
            </div>
            <div class="col-md">
                @Html.TextBoxFor(m => m.Username, new {@placeholder = "name@clemson.edu", @id = "user", @class="form-control"})
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="pass" class="form-label">Password</label>
            </div>
            <div class="col-md">
                @Html.TextBoxFor(m => m.Password, new {@placeholder = "Password", @id="pass", @type="password", @class="form-control"})
            </div>
        </div> <br/>
        <input type="submit" class="btn btn-primary" value="Create Account"/>
    }
</div>
</body>
</html>