@page
@model LoginInfoViewModel

@{
    Layout = null;
    ViewBag.Title = "Tiger Tix Web Interface";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <p>Welcome to Tiger Tix!</p>
    <p>Please Login</p>
    <form method="post">
        <input type="text" name="UserName" value="Username"/>
        <input type="text" name="PassWord" value="Password"/>
        <input type="submit" value="Login"/>
    </form>
</div>
</body>
</html>