@page
@model IndexViewModel

@{
    Layout = null;
    ViewBag.Title = "Tiger Tix Web Interface";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <p>Welcome to Tiger Tix!</p>
    <form method="post">
        <input type="text" name="UserName"/>
        <input type="submit" value="Store Name"/>
    </form>
</div>
</body>
</html>