@page
@model Tiger_Tix.Web.ViewModels.IndexViewModel

@{
    Layout = null;
    ViewBag.Title = "Tiger Tix Web Interface";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <p>Website displays!</p> 
    <input type="text" name="UserName"/>
    <input type="submit" value="Store Name"/>
</div>
</body>
</html>