@using Tiger_Tix.Web.Views.Shared
@model UserViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Tiger Tix</title>
    <script>
    function myTix()
    {
        alert("There are 100 tickets remaining for this event.")
    }
    
    $("#Available_Events_are:").change(myTix);
 
    //http://jsfiddle.net/pD56G/1/
    </script>
</head>
<body>
<div>
    <p>
        <h1>Welcome @Model.Name!</h1>
        <br/>
        You are a @Model.UserRole
    </p>
    <br/>
    @{
        List<EventModel> available = (List<EventModel>)ViewBag.AvailableEvents;
    }
    @Html.ListBox( "Available Events are:", available.Select( e => new SelectListItem
            {
                Text = e.ToString()
                
            }))
</div>
</body>
</html>