@using Tiger_Tix.Web.Views.Shared
@model UserViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Tiger Tix</title>
</head>
<body>
<div>
    <p>
        <h1>Welcome @Model.Name!</h1>
        <br/>
        You are a @Model.UserRole
    </p>
    <br/>
    @Html.ListBox( "Available Events are:", Model.AvailableEvents.Select( e => new SelectListItem
            {
                Text = e.ToString(),
                Value = Model.AvailableEvents.IndexOf(e).ToString()
            }))
</div>
</body>
</html>