@model UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Tiger Tix</title>
</head>
<body>
<div>
    <p>
        Welcome @Model.Name!
        <br/>
        You are a @Model.UserRole
    </p>
</div>
</body>
</html>